html{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 1200px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(bg.png) ;
    background-repeat: no-repeat;
    background-position: 50%; 
    background-size: 100%;   
    
}



main{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center;
    
    
}

.logo{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;  
    align-items: center;
    
}

.logotitle{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 100px;
    color: rgb(68, 68, 68); 
    margin: 0; 

}

.logosubtitle{
    font-family: 'Cinzel Decorative', cursive; 
    color: rgb(68, 68, 68);   
    font-size: 25px;
   
}




ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.list-nav{
    display: flex;
    width: 80%;
    
}

.list{
    font-family: 'Cinzel Decorative', cursive;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    
}


footer{
    background-color: #444444;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}





.fa-whatsapp{
    font-size: 30px;
    color: white;
}

.fa-instagram{
    font-size: 30px;
    color: white;
}

.fa-facebook{
    font-size: 30px;
    color: white;
}

.fa-envelope{
    font-size: 30px;
    color: white;
}